.mainBox {
    display:flex;

}

.mainBox2{
   display: inline-block;
}

.colorBox {
    background-color: rgb(237, 235, 235);
    margin-bottom: 3px;
}

.colorBox2 {
    background-color: rgb(255, 255, 255);
    margin: 3px;
}

.marginBox2{
    margin: 0 7% 3px 7%;
}

.marginBox3 {
    margin: 0 15% 3px 15%;
}

#cb1 {
    accent-color: #1fff5f;
  }
